@import vars

.mtg-symbol
  width: 1em
  height: 1em
  background-size: cover
  display: inline-block

.mtg-rt
  font-style: italic

.mtg-card
  width: $mtgCardWidth
  height: $mtgCardHeight
  color: black
  font-size: 18px
  background-size: cover
  background-color: #fff
  box-sizing: border-box
  padding: 30px
  border: 2px solid #aaa
  -webkit-user-select: none

.mtg-card-heading
  width: 100%

.mtg-card-name
  font-size: 24px

.mtg-card-cc
  font-size: 24px
  text-align: right