.tr-snapBtns
  position: absolute
  bottom: 0
  right: 0
  padding: 10px
  background: #555

.tr-snapBtn
  display: inline-block
  width: 50px
  height: 50px
  margin-right: 10px
  background: #333
  vertical-align: top